@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;+
}
.ancho{
max-width: 1200px;
border: 1px red solid;
margin: auto;
}
header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.titulo{
    font-size: 16px;
    color: red;

}
.our{
    color: rgb(25, 24, 24);
    font-weight: 100; 
    
}
span{
    font-weight: 700;
}
hr {
    height: 2px;
    width: 3%; 
    border: 1px	red solid;
  }

.contenedorfotos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px green solid; 
    
    
}
.fotonormal img{
    width: 300px;
}
.fotogrande img{
    width: 600px;
}


.contenedorfotos2 {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    
}

.contenedorfotos3 {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    
}

    
@media screen and (max-width: 400px) {
      body{
      background-color: orange;
      }
      .contenedorfotos {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 50px;
        
    }

}

