@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Signika", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0);
  }
  .ancho{
    max-width: 1500px;
    margin: auto;
    /* border: 1px red solid; */
  }
  .bannerheader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px red solid;
    padding: 3px 0px;
    gap: 150px;
  }

  .contenedor-botones-header{
    display: flex; 
    flex-direction: row;
    border: 1px	yellow solid;
    
  }

  .contenedor-nike-header{
    border: 1px	green solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px; 
    margin: 0px  50px;

  }
  .contenedor-nike-header p{
    font-size: 20px;
    font-weight: 400;
    /* border: 1px	red solid; */
  }
  .contenedor-nike-header span, 
  .contenedor-nike-header img{
    margin: 0px 5px;

  }
  
  .btn-blanco-header, .btn-negro-header{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 2px;
    border: 2px gray;
    box-shadow: 0px 1px 2px grey;
  }

  .iconojordan{
    max-width: 50px;
    padding: 2px 5px;
    border-radius: 2px;
    border: 2px gray;
    box-shadow: 0px 0px 3px grey;
    text-align: center;
  
  }
  .iconojordan img{
    
    width:  100%;
  }
  .division{
    /* border: 1px	gray solid; */
    padding: 20px;
  } 
  .contenedor_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    /* max-width: 1500px; */
    margin: 0px 40px;

  }
  .logo{
    padding: 0px 30px;
    max-width: 150px;
  }
  .logo img{
    width: 100%;
    
  }
  .menu{
    align-items: center;
    padding: 0px;
    margin: 0px auto;
  }

  .menu ul{
    /* border: 1px	red solid; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  .menu ul li a{
    color: black;
    display: inline-block;
    padding: 10px 10px; 
    text-decoration: none;
    font-weight: 600;

  }
  .menu ul li a:hover {
    text-decoration: underline;
  }
  .input-f{
    margin: auto;
    width: 200px;
    border: 3px green solid;
    text-align: center;
  }
  .input-file{  
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    background-color: #fff;
    color: #333;
    text-decoration: none;

  }

   .portada{
    display: flex;
    justify-content: center;
  }
  .portadavolar{
    /* border: 1px	red solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    

  }
  .portadavolar figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;

  }

  .contenedor-creelo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .titulo1{
    font-size: 30px;
    color: black;
    font-weight: 700;
    line-height: 50px;
  }
  .parrafos{
    font-size: 20px;
    font-weight: 100;
    color: black;
    padding-bottom: 20px;
    text-align: center;
    font: bold;
  }
  .btn-negro{
    font-size: 14px;
    color: white;
    background-color:  #333;;
    text-decoration: none;
    border-radius: 2px;
    padding: 10px 20px;

  }
  .titulo2{
    font-size: 30px;
    color: black;
    font-weight: 700;
    line-height: 50px;
  } 

  .slidefoto{
    background-image: url(imagenes/calltoaction.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }

  .contenedor-temporada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 30px;
    
  }
  .contenedor-temporada p{
    color: white;
    padding-bottom: 20px;
    margin: 10px 0px;
    
  }
  .contenedor-botones-volar{
    display: flex;
    flex-direction: row;
    

  }


  .titulo3{
    font-size: 45px;
    color: white;
    font-weight: 700;
    line-height: 55px;
  } 

  .contenedor-botones2{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
  }
  .btn-blanco{
    font-size: 16px;
    color: rgb(4, 4, 4);
    background-color: rgb(249, 249, 249);
    text-decoration: none;
    border-radius: 4px;
    padding: 15px 50px;

  }



  footer{
    background-color: #333;
    color: white;

    padding: 20px;
  }

  footer p{
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
  }