@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Signika", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0);
  }
  .ancho{
    max-width: 1200px;
    margin: auto;
    border: 1px red solid;
  }
  .contenedor_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1600px;

  }
  .logo{
    
  max-width: 150px;
  }
  .logo img{
    width: 100%;
    
  }
  .menu{
    align-items: center;
    
  }

  .menu ul{
    list-style: none;
    max-width: 750px;
  }
  .menu ul li {
    display: inline-block;
  }
  .menu ul li a{
    color: black;
    display: inline-block;
    padding: 5px;
    text-decoration: none;

  }
  .menu ul li a:hover {
    text-decoration: underline;
  }
  .input-f{
    width: 500px;
    border: 3px green solid;
  }
  .input-file{  
    width: 100%;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    display: inline-block;

  }
  .portada{
    display: flex;
    padding-left: 10px;
  }

  .contenedor-creelo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .titulo1{
    font-size: 30px;
    color: black;
    font-weight: 700;
    line-height: 50px;
  }
  .parrafos{
    font-size: 20px;
    font-weight: 100;
    color: black;
    padding-bottom: 20px;
    text-align: center;
    font: bold;
  }
  .btn-negro{
    font-size: 14px;
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 2px;
    padding: 10px 20px;

  }
  .titulo2{
    font-size: 30px;
    color: black;
    font-weight: 700;
    line-height: 50px;
  } 

  .slidefoto{
    background-image: url(imagenes/calltoaction.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }

  .contenedor-temporada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: auto;
    
  }
  .contenedor-temporada p{
    color: white;
    
    
  }


  .titulo3{
    font-size: 30px;
    color: white;
    font-weight: 700;
    line-height: 50px;
  } 

  .btn-blanco{
    font-size: 14px;
    color: rgb(4, 4, 4);
    background-color: rgb(249, 249, 249);
    text-decoration: none;
    border-radius: 2px;
    padding: 10px 20px;

  }



  footer{
    background-color: #333;
    color: white;
  }