*{
    box-sizing: border-box;
    --resalto:  #6cb500;
    --Menu : #f3f3f3;
    --letra: #0c0b0b;

}

body{
    font-family: 'Arimo';
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.ancho{
    max-width: 1200px;
    margin:auto;
    align-items: center;
    border:1px red solid;
}

.encabezado {
    background-color: var(--Menu);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.encabezado figure img{
    width: 200px;
}

nav ul{ 
    list-style: none;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
nav a{
    padding: 0 15px;
    text-decoration: none;
    color: var(--letra);

}

.contenedor_banner{
    border: 1px red solid;
    height: 300px;
    background-image: url(imagenes/foto_slide.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contenedor_banner h1{
    border: 1px red solid;
    width:900px;
    color: var(--Menu);
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    margin: 0 auto;
    padding: 0 50px; 
}

.NuestroServicio{
    text-align: center;
}
.NuestroServicio h2{
    font-size: 36px ;
}
.contenedorcard article {
    border: 1px red solid;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    text-align: center;
    box-sizing: border-box;
}

.contenedorcard i, h6{
    color:var(--resalto);
}
.contenedorcard i{
    font-size: 50px;
}
.contenedorcard h6{
    margin: 10px;
    font-size: 25px;
    font-weight: 500;
}
.contenedorcard p{
    font-size: 18px;
    padding: 5px 10px;
}

footer {
    background-color: var(--resalto);
    text-align: center;
    padding: 20px;
}
footer img{
    width: 200px;
}
